.app-header {
  background-color: #0092ca;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px 20px 80px;
  position: relative;
  // height: 8vh;
  // margin-block-end: rem(30px);


  .logo{
    margin: 0;
    font-family: montserrat-semi-bold, sans-serif;

    img {
      border-radius: 50%;
      width: 50px;
      position: absolute;
      left: 40px;
      top: 15px;
    }
  }

  a {
    margin-inline-start: 25px;
    font-size: 20px;
    cursor: pointer;
    // line-height: 28px;
  }

}