.app-header {
    background-color: #0092ca;
  
  }
  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    height: 8vh;
    // margin-inline-start: 50px;
    // margin-inline-end: 50px;
    color: #ffffff;
  
    a {
      margin-inline-start: 10px;
      font-size: 20px;
      // line-height: 28px;
    }
  
  }