@font-face {
    font-family: montserrat;
    src: url(../../fonts/Montserrat/Montserrat-Regular.ttf)
}
@font-face {
    font-family: montserrat-semi-bold;
    src: url(../../fonts/Montserrat/Montserrat-SemiBold.ttf)
}